<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/books'"> Books </a>
      <a mat-button [routerLink]="'/history'"> History </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->

<nav class="navbar navbar-expand-sm  navbar-dark" *ngIf="!navCheck" style="background: #F9F3EF;">
  <div class="container-fluid">
    <img src="./../../../assets/thumb_Logo.png" width="120" height="70">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" style="color: black;" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon" style="color: black;"></span>
    </button>
    <div class="collapse navbar-collapse" *ngIf="!navCheck" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item ">
        <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active" (click)="checkHomePage(true)"><i class="fa fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  routerLinkActive="active" [routerLink]="'/books'" (click)="checkHomePage(false)"> <i class="fa fa-book"></i> Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/history'" routerLinkActive="active" (click)="checkHomePage(false)"><i class="fa fa-history"></i> History</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

